node_modules/
chess-engine/
chess_engine/
backend/chess-engine/*
.env
*keypair.json
backend/chess-engine/
chess-engine/
chess-engine/stockfish*
.htaccess
*.log
*keypair.json
*.pem
test-ledger
backend/wallet.json
backend/wallet.json

backend/mint_address.txt
backend/mint_data.json
token_data.md
